@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter&family=Source+Sans+3&display=swap');

:root {
  --font-body:"Inter", sans-serif;
  --font-headline: "Calistoga", cursive;
  --font-footer: "Source Sans 3", sans-serif; 
  /* colors */
  --primary-color: #fbcd44;
  --secondary-color: #5C5C5C;
  --tertiary-color: #C2C2C2;
  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

body {
    margin: 0;
    font-family: var(--font-body);
    font-size: var(--small-font);
}

h1, h2 {
    font-family: var(--font-headline);
    font-size: 1.5em;
}

h3 {
    font-family: var(--font-body);
    font-weight: bold;
}

p {
    font-family: var(--font-body);
}

a {
    text-decoration: none;
    color: black;
}

/* Home Page */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background-color: var(--primary-color);
}

#logo {
    width: 120px;
    height: 10vh;
    object-fit: cover;
}

#fav_icon {
    font-size: 1.3em;
}

.flex__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

footer {
    font-size: small;
    padding: 1em 1em;
    background-color: lightblue;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    font-family: var(--font-footer);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    align-items: center;
    text-align: center;
    height: 8vh;
}

/* ---------------------- HOME PAGE ------------------ */

/* #banner {
    width: 100%;
    height: 20vh;
    background-color: antiquewhite;
} */

#banner__img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
}

#search__section {
    background-color: var(--tertiary-color);
    width: 80vw;
    margin-top: 5vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search__input {
    width: 40vw;
    padding: 8px;
    font-size: var(--font-base);
    border: 1px solid var(--tertiary-color);
    border-radius: 4px;
}

#search__button {
    background-color: var(--primary-color);
    border: none;
    box-shadow: 2px 2px 2px;
    cursor: pointer;
    margin-left: 8px;
    padding: 8px 16px;
    font-size: var(--font-base);
    border-radius: 4px;
}

/* ------------------ RECIPE LIST PAGE ----------- */

/* #sortBy__container {
    display: flex;
    align-items: center;
}

#sortBy__container h3 {
    margin-right: 10px;
}

#sortBy__container p {
    background-color: var(--secondary-color);
    color: white;
    padding: 5px;
    border-radius: 4px;
}

#sortBy__container p:hover {
    background-color: var(--tertiary-color);
    color: black;
} */

.recipeList {
  list-style-type: none;
  padding: 0;
}

.recipe__card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  padding: 15px;
  width: 90vw;
}

.recipe__card a {
  text-decoration: none;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%; 
}

.recipe__card h2 {
  margin: 0;
  font-size: 1.2em;
}

.recipe__card h3 {
  margin: 0;
  font-weight: normal; 
}

/* ----------------- RECIPE PAGE -------------------- */

#ingredients__section {
    align-self: start;
}

#ingredients__section  ul{
    display: flex;
    flex-direction: column;
}

#ingredients__list {
    display: flex;
    flex-direction: row;
    gap: 10vw;
    break-inside: avoid;
    justify-content: space-between;
}

#addToFavorites {
    background-color: var(--primary-color);
    padding: 1em;
    border-radius: 4px;
    margin-top: 1em;
    cursor: pointer;
}

#addToFavorites:hover {
    background-color: #eec23e;
}

/* -----------BREADCRUMBS --------------- */
.breadcrumb {
  max-width: 100%;
  margin-top: 1em;
  padding: 10px;
  /* background-color: var(--tertiary-color); */
}

.breadcrumb__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumb__item {
  /* margin: 0 auto; */
  font-size: var(--font-base);
  font-family: var(--font-footer);
  display: inline-block;
  margin-right: 5px;
}

.breadcrumb__item a {
  text-decoration: none;
  color: var(--secondary-color);
}

.breadcrumb__item:last-child a {
  color: black;
  padding: 0.5rem;
  border: 1px solid var(--primary-color);
  font-weight: bold;
}

.breadcrumb__item:not(:last-child):hover a {
  text-decoration: underline;
}

.breadcrumb__item:not(:last-child) {
  border-right: 1px solid var(--secondary-color);
  padding: 0 1rem;
}

#ingredients__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0;
  margin: 0;
}

/* ------------- FAVORITES PAGE ---------------- */
.recipe__card a {
  margin-right: 1em;
}

#delete__btn:hover {
  background-color: turquoise;
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 1.5em;
  }

  #search__input {
    width: 60vw;
  }

  body {
    font-size: var(--font-base);
  }

  .recipe__card h2 {
    font-size: 1.5em;
  }
}